<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show</title>
</head>

<body>
  <!--? "/campground/id" route to view a spicific campground  -->
  <!--? campground is a javascript object like campground = {title: "blah", location: "blah"} which can be accessed with dot operator -->
  <h1>Title: <%= campground.title %>
  </h1>
  <h2>Location: <%= campground.location %>
  </h2>
  <p><a href="/campground">All Campgrounds</a></p>
  <p><a href="/campground/<%= campground.id%>/edit">Edit</a></p>

  <!--! DELETE method overriden here  -->
  <form action="/campground/<%=campground.id%>?_method=DELETE" method="post">
    <button type="submit">Delete</button> <!--? On click FORM will be submitted triggering DELETE method  -->
  </form>

</body>

</html>